* {
    box-sizing: border-box
}

:root {
    --light: rgba(247, 247, 247, 0.377);
    --dark: rgb(20, 20, 20);
    --highlight: #d68fd6;
    --highlight: #006989;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kulim Park', sans-serif;
    /* background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%); */
    background: url("./img/lightmode.jpg");
    background-size: cover;
    transition: background-image 0.4s ease-in-out;
}

.header {
    background: var(--light);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    padding: 2em;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 45px var(--dark);
}

.post-container {
    padding: 1em 2em;
}
button{
    -webkit-box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE; 
    box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE;
}
img{
    -webkit-box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE; 
    box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE;
}
.post,
button,
img {
    border-radius: 5px;
    transition: box-shadow 0.4s ease-in-out;
}

.post {
    background: var(--light);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.459);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 250px);
    min-width: 400px;
    max-width: 700px;
    margin: 2em auto;
    color: var(--dark)
}

.content {
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 0 1em 0 0;
}

img {
    width: 100%;
    max-height: 300px;
}

h1 {
    color: #073846;
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 1em 2em;
    font-weight: 700;
    justify-self: start;
    background-color: #f7f7f7;
    color: #006989;
}

.toggle {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: auto;
    background-color: var(--highlight); 
}

label {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 1em;
    background-color: #3E64FF;
    background: radial-gradient(100% 325% at 100% 25%, #3E64FF 0%, #B2FCFF 100%);    
}

label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 2px;
    left: 22px;
    transition: .5s;
    background-color: #f7f7f7;
}

.toggle:checked + label::after {
    transform: translate(-18px);
    background-color: rgb(20, 20, 20);
}

.dark,
.dark > h1,
.dark .toggle::after {
    background-color: rgb(20, 20, 20);
    color: #f7f7f7;
}

.dark button {
    background-color: #f7f7f7;
    color: rgb(20, 20, 20);
}
