body {
    background: url("../img/darkmode.jpg");
}

.header {
    background: var(--dark);
    box-shadow: 0px 2px 45px var(--light);
    transition: all 0.4s ease-in-out;
}

img{
    -webkit-box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF; 
    box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF;
    transition: all 0.4s ease-in-out;
}

.post {
    background: var(--dark);
    -webkit-box-shadow: 2px 3px 15px rgba(255, 255, 255, 0.459);
    box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.459);
    color: #f7f7f7;
    transition: all 0.4s ease-in-out;
}

h1 {
    color: #00C2FF;
    transition: all 0.4s ease-in-out;
}

button {
    background-color: rgb(20, 20, 20);
    color: #f7f7f7;
    -webkit-box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF; 
    box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF;
    transition: all 0.4s ease-in-out;
}

label {
    background: radial-gradient(100% 425% at 100% 0%, #073846 0%, #00C2FF 100%);
}

label::after {
    background-color: #f7f7f7;
}

.toggle:checked + label::after {
    background-color: #00566e;
}