* {
    box-sizing: border-box
}

:root {
    --light: #f7f7f7;
    --dark: rgba(20, 20, 20, 0.397);
    --highlight: #d68fd6;
    --highlight: #006989;
    --ACCMain: #00F6EE;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kulim Park', sans-serif;

    /* background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%); */
    /* background-blend-mode: overlay, hard-light, normal; */
    background: url("../img/darkmode.jpg");
    background-size: cover;
    transition: background-image 0.4s ease-in-out;

}

.header {
    background: var(--dark);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    padding: 2em;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 45px var(--light);

}

.post-container {
    padding: 1em 2em;
}

button{
    -webkit-box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF; 
    box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF;
}
img{
    -webkit-box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF; 
    box-shadow: 2px 3px 15px #00F6EE, -2px -3px 15px #3E64FF;
}
.post,
button,
img {
    border-radius: 5px;
    transition: box-shadow 0.4s ease-in-out;
}

.post {
    background: var(--dark);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 2px 3px 15px rgba(255, 255, 255, 0.459);
    box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.459);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 250px);
    min-width: 400px;
    max-width: 700px;
    margin: 2em auto;
    color: #f7f7f7;
}

.content {
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 0 1em 0 0;
}

img {
    width: 100%;
    max-height: 300px;
}

h1 {
    color: #00C2FF;
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 1em 2em;
    font-weight: 700;
    justify-self: start;
    background-color: rgb(20, 20, 20);
    color: #f7f7f7;
}

.toggle {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: auto;
    /* background-color: var(--highlight);  */
}

label {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 1em;
    /* background-color: #07456F; */
    background: radial-gradient(100% 425% at 100% 0%, #073846 0%, #00C2FF 100%);
}

label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 2px;
    left: 22px;
    transition: .5s;
    background-color: #f7f7f7;
}

.toggle:checked + label::after {
    transform: translate(-18px);
    background-color: #00566e;
}

.dark,
.dark > h1,
.dark .toggle::after {
    background-color: rgb(20, 20, 20);
    color: #f7f7f7;
}

.dark button {
    background-color: #f7f7f7;
    color: rgb(20, 20, 20);
}
