* {
    box-sizing: border-box
}

:root {
    --light: rgba(247, 247, 247, 0.377);
    --dark: rgb(20, 20, 20);
    --highlight: #d68fd6;
    --highlight: #006989;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kulim Park', sans-serif;
    background-size: cover;
    transition: background-image 0.4s ease-in-out;
}

.header {
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    padding: 2em;
    width: 100%;
    display: flex;
    
}

.post-container {
    padding: 1em 2em;
}

.post,
button,
img {
    border-radius: 5px;
    transition: box-shadow 0.4s ease-in-out;
}

.post {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    min-width: 500px;
    max-width: 700px;
    margin: 2em auto;
}

img {
    background-size: contain;
    max-width: 100%;
    height: 100%;
    }

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

button {
    /* display: inline-block; */
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 1em 2em;
    font-weight: 700;
    justify-self:start;
}

.toggle {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: auto;
}

label {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 1em;   
}

label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 2px;
    left: 22px;
    transition: .5s;
}

.toggle:checked + label::after {
    transform: translate(-18px);
}

.dark,
.dark > h1,
.dark .toggle::after {
    background-color: rgb(20, 20, 20);
    color: #f7f7f7;
}

.dark button {
    background-color: #f7f7f7;
    color: rgb(20, 20, 20);
}


button:hover,
button:focus-visible
{
    transform: scale(1.1);
    transition: all 0.3s ease;
    text-decoration: underline;
}
.content{
    display:grid;
    grid: 120px 100px 40px / 1fr ;
    /* grid: 100px auto 300px; */
    padding: 0 1em 0 0;
    justify-self: start;
    align-content: space-around;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
}