body {
    background: url("../img/lightmode.jpg");
}

.header {
    background: var(--light);
    box-shadow: 0px 2px 45px var(--dark);
}

button{
    -webkit-box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE; 
    box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE;
}

img{
    -webkit-box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE; 
    box-shadow: 2px 3px 15px #3E64FF, -2px -3px 15px #00F6EE;
}

.post {
    background: var(--light);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.459);
    color: var(--dark);
}

h1 {
    color: #073846;
}

button {
    background-color: #f7f7f7;
    color: #006989;
}

label {
    background-color: #3E64FF;
    background: radial-gradient(100% 325% at 100% 25%, #3E64FF 0%, #B2FCFF 100%);    
}

label::after {  
    background-color: #f7f7f7;
}

.toggle:checked + label::after {
    background-color: rgb(20, 20, 20);
}